{% extends 'base.html.twig' %}

{% block title %}
	Hello AdminController!
{% endblock %}

{% block body %}
	<button
		type="button"
		classname="btn btn-primary"
		data-toggle="modal"
		data-target="#ChapMaker">
		Make Chapter
	</button>
	<div
		class="modal fade bd-example-modal-lg"
		id="ChapMaker"
		tabindex="-1"
		role="dialog"
		aria-labelledby="myLargeModalLabel"
		aria-hidden="true">
		<div
			class="modal-dialog modal-lg">
			<div
				class="modal-content">
				<div
					class="modal-header">
					<h5
						class="modal-title"
						id="exampleModalLabel">
						Nouveau Chapitre
					</h5>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close">
						<span
							aria-hidden="true">
							&times;
						</span>
					</button>
				</div>
				<div
					class="modal-body">
					<form>
						<div
							class="form-group">
							<label

								class="col-form-label">
								Titre
							</label>
							<input
								type="text"
								class="form-control"
								id="ChapTitreMaker"/>
						</div>
						<div
							class="form-group">
							<label

								class="col-form-label">
								Image
							</label>
							<input
								type="text"
								class="form-control"
								id="ChapCouvertureMaker"/>
						</div>
						<div
							class="form-group">
							<label

								class="col-form-label">
								firstParag
							</label>
							<textarea
								class="form-control"
								id="ChapFirstParagMaker"></textarea>
						</div>
				
				</div>

			</div>
		</div>

	</div>


	<div
		id="accordion">
		<div
			class="card">
			<div
				class="card-header"
				id="headingOne">
				<h5
					class="mb-0">
					<button
						class="btn btn-link"
						data-toggle="collapse"
						data-target="#collapseOne"
						aria-expanded="true"
						aria-controls="collapseOne">
						Chapitres
					</button>
				</h5>
			</div>

			<div
				id="collapseOne"
				class="collapse show"
				aria-labelledby="headingOne"
				data-parent="#accordion">
				<div
					class="card-body">
					<div
						class="d-flex justify-content-around  flex-wrap">
						{% for chapitre in chapitres %}
							<div
								class="card bg-dark text-white shadow-sm CartChapter"
								id="cardChap{{chapitre.id}}"
								data-toggle="modal"
								data-target="#Chap{{chapitre.id}}">
								<img
									class="chapterImg"
									src="img/{{chapitre.couverture}}"
									alt="Card image cap">
								<div
									class="card-img-overlay">
									<h5
										class="card-title">
										{{chapitre.titre}}
									</h5>
									<p
										class="card-text">
										{{chapitre.firstParag}}
									</p>
								</div>
							</div>
							<div
								class="modal fade bd-example-modal-lg"
								id="Chap{{chapitre.id}}"
								tabindex="-1"
								role="dialog"
								aria-labelledby="myLargeModalLabel"
								aria-hidden="true">
								<div
									class="modal-dialog modal-lg">
									<div
										class="modal-content">
										<div
											class="modal-header">
											<h5
												class="modal-title"
												id="exampleModalLabel">
												Chapitre :
												{{chapitre.titre}}
											</h5>
											<button
												type="button"
												class="close"
												data-dismiss="modal"
												aria-label="Close">
												<span
													aria-hidden="true">
													&times;
												</span>
											</button>
										</div>
										<div
											class="modal-body">
											<form>
												<div
													class="form-group">
													<label

														class="col-form-label">
														Titre
													</label>
													<input
														type="text"
														class="form-control"
														id="ChapTitre{{chapitre.id}}"
														value="{{chapitre.titre}}">
												</div>
												<div
													class="form-group">
													<label

														class="col-form-label">
														Image
													</label>
													<input
														type="text"
														class="form-control"
														id="ChapCouverture{{chapitre.id}}"
														value="{{chapitre.couverture}}">
												</div>
												<div
													class="form-group">
													<label

														class="col-form-label">
														firstParag
													</label>
													<textarea
														class="form-control"
														id="ChapFirstParag{{chapitre.id}}">
														{{chapitre.firstParag}}
													</textarea>
												</div>
												<div
													class="form-group">
													<label

														class="col-form-label">
														Contenue
													</label>
													<textarea
														class="form-control"
														id="ChapContent{{chapitre.id}}">
														{{chapitre.content}}
													</textarea>
												</div>
											</form>
										</div>
										<form-adm
											data-id="{{chapitre.id}}"></form-adm>
									</div>
								</div>
							</div>

						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div
			class="card">
			<div
				class="card-header"
				id="headingTwo">
				<h5
					class="mb-0">
					<button
						class="btn btn-link collapsed"
						data-toggle="collapse"
						data-target="#collapseTwo"
						aria-expanded="false"
						aria-controls="collapseTwo">
						Articles
					</button>
				</h5>
			</div>
			<div
				id="collapseTwo"
				class="collapse"
				aria-labelledby="headingTwo"
				data-parent="#accordion">
				<div
					class="card-body">
					<div
						class="d-flex flex-row">
						<div
							class="p-2">
							Flex item 1
						</div>
						<div
							class="p-2">
							Flex item 2
						</div>
						<div
							class="p-2">
							Flex item 3
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="card">
			<div
				class="card-header"
				id="headingThree">
				<h5
					class="mb-0">
					<button
						class="btn btn-link collapsed"
						data-toggle="collapse"
						data-target="#collapseThree"
						aria-expanded="false"
						aria-controls="collapseThree">
						Images
					</button>
				</h5>
			</div>
			<div
				id="collapseThree"
				class="collapse"
				aria-labelledby="headingThree"
				data-parent="#accordion">
				<div
					class="card-body">
					<div
						class="d-flex flex-row">
						<div
							class="p-2">
							Flex item 1
						</div>
						<div
							class="p-2">
							Flex item 2
						</div>
						<div
							class="p-2">
							Flex item 3
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="card">
			<div
				class="card-header"
				id="headingThree">
				<h5
					class="mb-0">
					<button
						class="btn btn-link collapsed"
						data-toggle="collapse"
						data-target="#collapseThree"
						aria-expanded="false"
						aria-controls="collapseThree">
						Videos
					</button>
				</h5>
			</div>
			<div
				id="collapseThree"
				class="collapse"
				aria-labelledby="headingThree"
				data-parent="#accordion">
				<div
					class="card-body">
					<div
						class="d-flex flex-row">
						<div
							class="p-2">
							Flex item 1
						</div>
						<div
							class="p-2">
							Flex item 2
						</div>
						<div
							class="p-2">
							Flex item 3
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="card">
			<div
				class="card-header"
				id="headingThree">
				<h5
					class="mb-0">
					<button
						class="btn btn-link collapsed"
						data-toggle="collapse"
						data-target="#collapseThree"
						aria-expanded="false"
						aria-controls="collapseThree">
						Sons
					</button>
				</h5>
			</div>
			<div
				id="collapseThree"
				class="collapse"
				aria-labelledby="headingThree"
				data-parent="#accordion">
				<div
					class="card-body">
					<div
						class="d-flex flex-row">
						<div
							class="p-2">
							Flex item 1
						</div>
						<div
							class="p-2">
							Flex item 2
						</div>
						<div
							class="p-2">
							Flex item 3
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
